name: Workflow Demo

on: 
 workfloworkflow_dispatch:
   

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Create a text file
      run: echo "Hello, world!" > hello.txt

    - name: Archive text file
      uses: actions/upload-artifact@v2
      with:
        name: hello-artifact
        path: hello.txt
        
  download:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: download text file
      uses: actions/download-artifact@v2
      with:
        path: ./artifacts 

    - name: View file
      run: cat ./artifacts/hello.txt     
